.sidebar {
    height: 100vh;
    background-color: #f8f9fa;
    padding: 20px;
}

    .sidebar a {
        display: block;
        padding: 10px;
        color: #000;
        text-decoration: none;
        margin-bottom: 10px;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s;
    }

        .sidebar a:hover {
            background-color: #e9ecef; /* 浅灰色背景 */
        }

        .sidebar a.active {
            background-color: #505050; /* 深灰色背景 */
            color: white; /* 白色字体 */
        }

.content {
    padding: 15px;
}

