.sidebar {
    height: 100vh;
    background-color: #f8f9fa;
    padding: 20px;
}

    .sidebar a {
        display: block;
        padding: 10px;
        color: #000;
        text-decoration: none;
        margin-bottom: 10px;
        border-radius: 5px;
    }

        .sidebar a:hover {
            background-color: #e9ecef;
        }

.content {
    padding: 15px;
}
