.user-container {
    display: flex;
    flex-direction: column;
}


.padding {
    padding: 3rem !important;
    margin-left: 200px
}

.user_bckg {
    background-image: url('../images/user-bckg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 70px;
}


.user_pic {
    padding: 40px;
}

.user_details h3, p, a {
    color: white;
    margin-left: 20px;
}

.user_details a {
    color: white;
    text-decoration: none;
}

    .user_details a:hover {
        color: white;
        text-decoration: underline;
    }

.pro-img img {
    width: 128px;
    height: 128px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 100%
}

.btn_chgprofile {
    margin-top: 20px;
}

.user-menu {
    margin: 30px;
}

.menu-center {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}
